<a href="https://colab.research.google.com/github/pankaj09318/Concepts-and-technologies-of-AI/blob/main/Worksheet3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

3.1 Warm Up Exercises:

1. Sorting and Subsetting:
Complete all following Task:

• Dataset for the Task: "titanic.csv"
Following task is common for all the problem:
1. Load the provided dataset and import in pandas DataFrame.
2. Check info of the DataFrame and identify following:

Problem 1 - Sorting:
1. Create a DataFrame called fare that contains only the Fare column of the Titanic dataset. Print the
head of the result.
2. Create a DataFrame called class age that contains only the Pclass and Age columns of the Titanic
dataset, in that order. Print the head of the result.
3. Create a DataFrame called survived gender that contains the Survived and Sex columns of the
Titanic dataset, in that order.Print the head of the result.

Problem - 2 - Subsetting:
Complete all the following Task:
Subsetting Rows:
1. Filter the Titanic dataset for cases where the passenger’s fare is greater than 100, assigning it
to fare gt 100.View the printed result.
2. Filter the Titanic dataset for cases where the passenger’s class (Pclass) is 1, assigning it to
first class.View the printed result.
3. Filter the Titanic dataset for cases where the passenger’s age is less than 18 and the passenger
is female (Sex is "female"), assigning it to female under 18. View the printed result.

In [8]:
import pandas as pd

dataset = pd.read_csv('/content/drive/MyDrive/Dataset-Week2/Dataset/Titanic-Dataset.csv')
df = pd.DataFrame(dataset)

print(df.info())

fare = df[['Fare']]
print("\n Head of Fare dataframe:")
print(fare.head)

class_age = df[['Pclass','Age']]
print("\n Head of Class_age dataframe:")
print(class_age.head)

survived_gender = df[['Survived','Sex']]
print("\n Head of Survived_gender dataframe:")
print(survived_gender.head)

fare_gt_100 = df[df['Fare'] > 100]
print("\nPassengers with Fare > 100:")
print(fare_gt_100)

first_class = df[df['Pclass'] == 1]
print("\nPassengers in First Class:")
print(first_class)

female_under_18 = df[(df['Age'] < 18) & (df['Sex'] == "female")]
print("\nFemale passengers under 18:")
print(female_under_18)

embarked_c_or_s = df[df['Embarked'].isin(['C', 'S'])]
print("Passengers who embarked from C or S:")
print(embarked_c_or_s)

first_second_class = df[df['Pclass'].isin([1, 2])]
print("\nPassengers in First or Second Class:")
print(first_second_class)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

 Head of Fare dataframe:
<bound method NDFrame.head of         Fare
0     7.2500
1    71.2833
2     7.9250
3    53.1000
4     8.0500
..       ...
886  13.0000
887  30.0000
888  23.4500
889  30.0000
890   7.7500

[891 rows x 1 columns]>

 Head of Class_age dataframe:
<bound method NDFrame.head of      Pclass   Age
0         3  22.0
1         1  38.0
2         3  26.0
3         1  35.0
4         3  35.0
..      ...   ...
886       2  27.0
887       1  19.0
888       3   NaN
889       1  26.0
890       3  32.0

[891 rows x 2 columns]>

 Head of Survived_gender dataframe:
<bound method NDFrame.head of      Survived     Sex
0           0    male
1           1  female
2           1  female
3           1  female
4           0    male
..        ...     ...
886         0    male
887         1  female
888         0  female
889         1    male
890         0    male

[891 rows x 2 columns]>

3.2 Exploratory Data Analysis Practice Exercise - 1.

Warning: Handle missing values in the Age column by filling them with the median age of the dataset before performing the division.)

Answer the following questions from Dataset:
Which passenger had the highest fare paid relative to their age?
To answer the question perform following operations:
1. Add a column to the Titanic dataset, fare per year, containing the fare divided by the age of
the passenger(i.e., Fare/Age).
2. Subset rows where fare per year is higher than 5, assigning this to high fare age.
3. Sort high fare age by descending fare per year, assigning this to high fare age srt.
4. Select only the Name and fare per year columns of high fare age srt and save the result as result.
5. Look at the result.

Which adult male passenger (age ≥ 18 and Sex is ’male’) paid the highest fare relative to their
class?

To answer the question perform following operations:
1. Add a column to the Titanic dataset, fare per class, containing the fare divided by the passenger
class i.e. Fare / Pclass.
2. Subset rows where the passenger is male (Sex is ”male”) and an adult (Age is greater than or equal
to 18), assigning this to adult males.
3. Sort adult males by descending fare per class, assigning this to adult males srt.
4. Select only the Name, Age, and fare per class columns of adult males sr and save the result
as result.
5. Look at the result.

In [11]:
import pandas as pd

# Exercise - 1

dataset = pd.read_csv('/content/drive/MyDrive/Dataset-Week2/Dataset/Titanic-Dataset.csv')
df = pd.DataFrame(dataset)

median_age = df['Age'].median()
df['Age'].fillna(median_age, inplace=True)

df['fare_per_year'] = df['Fare'] / df['Age']

high_fare_age = df[df['fare_per_year'] > 5]

high_fare_age_srt = high_fare_age.sort_values(by='fare_per_year', ascending=False)

result = high_fare_age_srt[['Name', 'fare_per_year']]

print(result)


# Exercise - 2

df['fare_per_class'] = df['Fare'] / df['Pclass']

adult_males = df[(df['Sex'] == "male") & (df['Age'] >= 18)]

adult_males_srt = adult_males.sort_values(by='fare_per_class', ascending=False)

result1 = adult_males_srt[['Name', 'Age', 'fare_per_class']]

print(result1)

                                               Name  fare_per_year
305                  Allison, Master. Hudson Trevor     164.728261
297                    Allison, Miss. Helen Loraine      75.775000
386                 Goodwin, Master. Sidney Leonard      46.900000
164                    Panula, Master. Eino Viljami      39.687500
183                       Becker, Master. Richard F      39.000000
..                                              ...            ...
348          Coutts, Master. William Loch "William"       5.300000
31   Spencer, Mrs. William Augustus (Marie Eugenie)       5.232886
205                      Strom, Miss. Telma Matilda       5.231250
813              Andersson, Miss. Ebba Iris Alfrida       5.212500
480                  Goodwin, Master. Harold Victor       5.211111

[71 rows x 2 columns]
                                   Name   Age  fare_per_class
737              Lesurer, Mr. Gustave J  35.0        512.3292
679  Cardeza, Mr. Thomas Drake Martinez  36.0        512.3292
27       Fortune, Mr. Charles Alexander  19.0        263.0000
438                   Fortune, Mr. Mark  64.0        263.0000
118            Baxter, Mr. Quigg Edmond  24.0        247.5208
..                                  ...   ...             ...
179                 Leonard, Mr. Lionel  36.0          0.0000
732                Knight, Mr. Robert J  28.0          0.0000
822     Reuchlin, Jonkheer. John George  38.0          0.0000
806              Andrews, Mr. Thomas Jr  39.0          0.0000
815                    Fry, Mr. Richard  28.0          0.0000

[519 rows x 3 columns]

/tmp/ipython-input-1039852597.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(median_age, inplace=True)

3.3 Exploratory Data Analysis with Group-by Method Practice Exercise:

Based on the dataset Answer the following question:

What percent of the total fare revenue came from each passenger class?
To answer the question perform following operation:
1. Calculate the total Fare paid across all passengers in the Titanic dataset.
2. Subset for passengers in first class (Pclass is 1) and calculate their total fare.
3. Do the same for second class (Pclass is 2) and third class (Pclass is 3).
4. Combine the fare totals from first, second, and third classes into a list.
5. Divide the totals for each class by the overall total fare to get the proportion of fare revenue by class.

Based on the dataset Answer the following question:

What percent of the total number of passengers on the Titanic belonged to each age group
(e.g., child, adult, senior)?
To answer the question perform following operation:
1. Create a new column, age group, that categorizes passengers into "child" (age < 18), "adult" (age
18{64), and "senior" (age 65 and above).
2. Calculate the total number of passengers on the Titanic.
3. Count the number of passengers in each age group.
4. Divide the count of each age group by the total number of passengers to get the proportion of passengers
in each age group.
5. Display the proportion as a percentage.

In [14]:
import pandas as pd

dataset = pd.read_csv('/content/drive/MyDrive/Dataset-Week2/Dataset/Titanic-Dataset.csv')
df = pd.DataFrame(dataset)


total_fare = df['Fare'].sum()


fare_first = df[df['Pclass'] == 1]['Fare'].sum()


fare_second = df[df['Pclass'] == 2]['Fare'].sum()


fare_third = df[df['Pclass'] == 3]['Fare'].sum()

fare_totals = [fare_first, fare_second, fare_third]

fare_percentage = [(fare / total_fare) * 100 for fare in fare_totals]

print("\n Percent of total fare revenue by class:")
print("First Class: ", fare_percentage[0], "%")
print("Second Class:", fare_percentage[1], "%")
print("Third Class: ", fare_percentage[2], "%")

def classify_age(age):
    if age < 18:
        return "child"
    elif age < 65:
        return "adult"
    else:
        return "senior"

df['age_group'] = df['Age'].apply(classify_age)

total_passengers = len(df)

age_group_counts = df['age_group'].value_counts()

age_group_percentage = (age_group_counts / total_passengers) * 100

print("\n Percent of passengers in each age group:")
print(age_group_percentage)

 Percent of total fare revenue by class:
First Class:  63.349287718996564 %
Second Class: 13.24962855496507 %
Third Class:  23.401083726038365 %

 Percent of passengers in each age group:
age_group
adult     66.217733
senior    21.099888
child     12.682379
Name: count, dtype: float64